.profile {
   display: flex;
   justify-content: start;
   align-items: center;
}

@media screen and (max-width: 760px) {
   .profile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}